<h1><%= @song.title %></h1>
<p><%= @song.artist %></p>
<%= link_to " edit song", edit_user_song_path(:user, @song.id) %>
<%= link_to "delete", user_song_path(:user, @song.id), method: :delete %>
<%= link_to "Back to All Songs", user_songs_path(:user) %>
